.ensime*
.idea
.gradle
*.iml
target/
/build/
release.properties
buildNumber.properties
/incremental-katas-jvm-langs.iml
/project/build.properties
/incremental-katas-jvm-langs.ipr
/incremental-katas-jvm-langs.iws
/.classpath
/.project
/.settings/
/project/
/out/

/vendor/
.DS_Store
bin/
